.App {
  text-align: center;
}

.login{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto 3rem;
  height: 6rem;
}

.register{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto 3rem;
  height: 6rem;
}
